<header>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>

<div class="jumbotron text-center" style="background-image:url(https://raw.githubusercontent.com/DCurro/dcurro.github.io/master/_assets/ru.jpg);background-size: cover; background-position: center;">
    <h1 style="color:white;">Domenic Curro</h1>
    <p style="color:white;">Ryerson University Computer Science MSc Candidate</p>
    <p style="color:white;">d2curro@ryerson.ca</p>
    <p style="color:rgb(233,167,17);">Advisor: <a style="color:rgb(233,167,17);" href="http://scs.ryerson.ca/~kosta/">Dr. Kosta Derpanis</a><p>
</div>
