<header>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
        <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>

<div class="jumbotron text-center" style="background-image:url(https://raw.githubusercontent.com/DCurro/dcurro.github.io/master/_assets/nodes.png);background-size: cover; background-position: center;">
    <h1>Domenic Curro</h1>
    <p>Ryerson University Computer Science MSc Candidate</p>
    <p>d2curro@ryerson.ca</p>
</div>
